In [31]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/divya/anaconda3/lib/python3.11/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (1.26.3)
Requirement already satisfied: requests>=2.31 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/divya/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/divya/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /Users/divya/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/divya/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/divya/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/divya/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/divya/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/divya/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/divya/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /Users/divya/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.11.17)

In [32]:
import pandas as pd
import yfinance as yf

start_date = '2024-02-01'
end_date = '2024-03-01'
tickers_list = ['AAPL', 'NKE', 'IBM', 'GOOGL','AXP','AMZN']

# Fetch the data
data = yf.download(tickers_list, start=start_date, end=end_date)['Adj Close']

# Print first 5 rows of the data
print(data.head())

[*********************100%%**********************]  6 of 6 completed

Ticker            AAPL        AMZN         AXP       GOOGL         IBM  \
Date
2024-02-01  186.621872  159.279999  203.220001  141.160004  185.211441
2024-02-02  185.613159  171.809998  206.410004  142.380005  184.111465
2024-02-05  187.440811  170.309998  205.940002  143.679993  181.762894
2024-02-06  189.058762  169.149994  205.649994  144.100006  181.752991
2024-02-07  189.168625  170.529999  209.080002  145.539993  182.080002

Ticker             NKE
Date
2024-02-01  101.397728
2024-02-02  100.351463
2024-02-05   99.325134
2024-02-06  102.244705
2024-02-07  103.420502

In [33]:
data

Ticker,AAPL,AMZN,AXP,GOOGL,IBM,NKE
Date,,,,,,
2024-02-01,186.621872,159.279999,203.220001,141.160004,185.211441,101.397728
2024-02-02,185.613159,171.809998,206.410004,142.380005,184.111465,100.351463
2024-02-05,187.440811,170.309998,205.940002,143.679993,181.762894,99.325134
2024-02-06,189.058762,169.149994,205.649994,144.100006,181.752991,102.244705
2024-02-07,189.168625,170.529999,209.080002,145.539993,182.080002,103.420502
2024-02-08,188.080017,169.839996,211.210007,145.910004,184.360001,103.400566
2024-02-09,188.850006,174.449997,212.470001,149.000000,186.339996,104.127975
2024-02-12,187.149994,172.339996,212.259995,147.529999,186.160004,106.798431
2024-02-13,185.039993,168.639999,209.669998,145.139999,183.699997,104.626190
2024-02-14,184.149994,170.979996,210.899994,145.940002,183.570007,105.951462
2024-02-15,183.860001,169.800003,212.529999,142.770004,186.869995,105.672455
2024-02-16,182.309998,169.509995,212.559998,140.520004,187.639999,103.141502
2024-02-20,181.559998,167.080002,212.490005,141.119995,183.440002,102.932251
2024-02-21,182.320007,168.589996,210.889999,142.550003,179.699997,104.895226
2024-02-22,184.369995,174.580002,213.990005,144.089996,184.210007,104.705910
2024-02-23,182.520004,174.990005,214.559998,143.960007,185.720001,105.253944
2024-02-26,181.160004,174.729996,216.960007,137.570007,184.130005,104.167831
2024-02-27,182.630005,173.539993,217.979996,138.880005,184.869995,104.775658
2024-02-28,181.419998,173.160004,218.029999,136.380005,185.300003,103.978508
2024-02-29,180.750000,176.759995,219.419998,138.460007,185.029999,103.560005

We are having 5 shares of Apple,Amazon,American Express,Google,IBM,Nike as our  portfolio which we would look to optimize using Modern Portfolio Theory

In [34]:
returns=data.pct_change()
returns.head()

Ticker          AAPL      AMZN       AXP     GOOGL       IBM       NKE
Date
2024-02-01       NaN       NaN       NaN       NaN       NaN       NaN
2024-02-02 -0.005405  0.078666  0.015697  0.008643 -0.005939 -0.010318
2024-02-05  0.009847 -0.008731 -0.002277  0.009130 -0.012756 -0.010227
2024-02-06  0.008632 -0.006811 -0.001408  0.002923 -0.000054  0.029394
2024-02-07  0.000581  0.008158  0.016679  0.009993  0.001799  0.011500

.pct_change helps us to know how that stock moved with respect to the last day by giving us the percentage change.The first column is NAN because we have no column to compare the first column with 

---
Returns of a company is the gain/loss of the portfolio during a particular time frame.We took the timeframe one day with respect to our case

We can see in the head that stocks with negative pct_change fell down in value when they closed on the subsequent day and the positive pct_change signifies that the stocks went up in the value when they closed

In [35]:
weights_of_portfolio=[0.2,0.1,0.35,0.2,0.1,0.05]
return_portfolio=returns.dot(weights_of_portfolio)
return_portfolio.head()

Date
2024-02-01         NaN
2024-02-02    0.012898
2024-02-05    0.000338
2024-02-06    0.002601
2024-02-07    0.009523
dtype: float64

We will now assign random weights to different assets which will be rectified later to get the best stock portfolio 

---
Return of a portfolio will be return of the assets multiplied the weights given to the particular stock so that we make a balanced portfolio 

---
Keep in Mind that weights_of_portfolio should be equal to 1

In [36]:
#Risk
covariance_portfolio=returns.cov()*252

For risk management we will use covariance 
What is covariance:- Co-Variance of stock signifies that the movement of the stock with respect to another stock.Positive Co-Variance means that the stock will rise if the other stock rises,Negative Co-Variance means that the stock A will decrease if Stock B will rise.

---
For Risk management we will try to get a negative co-variance as to minimize the risk because if one stock will fall down we would have a another stock to rise up so that all of our money wouldn't fall down 

---
we Multiplied 252 days as these are number of the days stock would be traded

In [37]:
covariance_portfolio

Ticker      AAPL      AMZN       AXP     GOOGL       IBM       NKE
Ticker
AAPL    0.013217  0.005956  0.001782  0.016192  0.003790  0.008846
AMZN    0.005956  0.131555  0.026987  0.039390  0.014699 -0.004887
AXP     0.001782  0.026987  0.014950  0.004037  0.012875 -0.000549
GOOGL   0.016192  0.039390  0.004037  0.065417  0.002655  0.021248
IBM     0.003790  0.014699  0.012875  0.002655  0.037804  0.001774
NKE     0.008846 -0.004887 -0.000549  0.021248  0.001774  0.051166

In [38]:
import numpy as np

In [39]:
portfolio_variance=np.transpose(weights_of_portfolio)@covariance_portfolio@weights_of_portfolio

The @ symbol signifies the matmul symbol which would signify the matrix multiplication of covariance with their respective weights we multiply it twice so that element of each weight gets covered

In [40]:
portfolio_volatility=np.sqrt(portfolio_variance)

In [41]:
portfolio_volatility

0.12089549687243151

In [42]:
port_returns=[]
port_volatility=[]
port_weights=[]
num_assets=len(data.columns)
num_portfolios=10000

individual_returns=data.resample('M').last().pct_change().mean()

In [43]:
port_returns

[]

We will use the modern portfolio theory for this use in this we get to know that whenever we have to make a portfolio of a stock we have to maximize the returns for a given stock but if we can not find a maximum value we will look to minimize the risk for a particular stock 

---
For Minimizing risk for a particular stock we will find the volatilty with respect to the stock by initializing random weights and we will find the minimum risk for that particular weight

In [44]:
individual_returns

Ticker
AAPL    NaN
AMZN    NaN
AXP     NaN
GOOGL   NaN
IBM     NaN
NKE     NaN
dtype: float64

In [45]:
len(individual_returns)

6

In [46]:
for port in range(num_portfolios):
  weights=np.random.random(num_assets)
  weights=weights/np.sum(weights)
  port_weights.append(weights)
  returns=np.dot(weights,individual_returns)
  port_returns.append(returns)
  var=covariance_portfolio.mul(weights,axis=0).mul(weights,axis=1).sum().sum()
  var=var*250
  sd=np.sqrt(var)
  port_volatility.append(sd)

We will store random weights and then look returns and variance for each weight and store them in a list 

---
Now we are using 10000 variables in the dataset so that we can get a overall weights of all combined we can use even more but for this project I am taking 10000 iterations

---
We will multiply the random weights to find the volatility of the stock for that weight and then find the returns from that stock as well to see the risk vs reward ratio to decide the final thing

In [47]:
len(port_weights)

10000

In [48]:
len(port_returns)

10000

In [49]:
len(port_volatility)

10000

In [50]:
data1={'Volatility':port_volatility,'Returns':port_returns}
for counter,symbol in enumerate(data.columns.tolist()):
  data1[symbol+'weight']=[w[counter] for w in port_weights]

We will now move forward to make a dataframe of the dataset to find the minimum value and the weight ratio 

---
This will be used to find the minimum volatilty for the maximum returns so that we find the portfolio

In [51]:
portfolios=pd.DataFrame(data1)

In [52]:
portfolios

,Volatility,Returns,AAPLweight,AMZNweight,AXPweight,GOOGLweight,IBMweight,NKEweight
0,1.854475,NaN,0.197958,0.033171,0.143340,0.179862,0.242585,0.203085
1,2.727041,NaN,0.072700,0.119593,0.268804,0.513687,0.023417,0.001800
2,1.852871,NaN,0.201775,0.130986,0.204547,0.075589,0.181301,0.205801
3,2.448674,NaN,0.241953,0.320743,0.039050,0.057916,0.220341,0.119997
4,2.230099,NaN,0.107197,0.178551,0.222483,0.210599,0.063189,0.217981
...,...,...,...,...,...,...,...,...
9995,2.200233,NaN,0.052915,0.206857,0.227575,0.107559,0.237305,0.167788
9996,2.350885,NaN,0.341231,0.304866,0.026488,0.042294,0.211532,0.073589
9997,2.124817,NaN,0.160267,0.185474,0.173175,0.157265,0.142896,0.180922
9998,2.220960,NaN,0.175721,0.210803,0.157797,0.171414,0.142840,0.141425
9999,1.848963,NaN,0.200585,0.089627,0.190573,0.146122,0.230067,0.143026

In [53]:
minimum_volatility=portfolios.iloc[portfolios['Volatility'].idxmin()]

In [54]:
minimum_volatility

Volatility     1.423119
Returns             NaN
AAPLweight     0.417916
AMZNweight     0.010160
AXPweight      0.408243
GOOGLweight    0.025905
IBMweight      0.041455
NKEweight      0.096321
Name: 6924, dtype: float64

This shows us the minimum risk of a portfolio with it's respective returns

In [55]:
rf=0.01
sharpe=portfolios.iloc[((portfolios['Returns']-rf)/portfolios['Volatility']).idxmax()]

/var/folders/qs/jlzv7wt507n_s5q9g6056fkr0000gn/T/ipykernel_1358/123537099.py:2: FutureWarning: The behavior of Series.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  sharpe=portfolios.iloc[((portfolios['Returns']-rf)/portfolios['Volatility']).idxmax()]

TypeError: Cannot index by location index with a non-integer key

We are finding the sharpe ratio to find the sharpe ratio we would introduce a risk factor which predefined risk factor is the risk exposures which drive the return

In [ ]:
sharpe